doctype html
head
div
  div
    font(face='Arial, sans-serif' style='font-family:arial, sans-serif') Hi Turing Team! 
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | A candidate has submitted a project on developers.turing.com dashboard.
  br
  div(style='font-family:arial, sans-serif')
    b
      font(face='Arial, sans-serif') Here is a user information.
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | User ID: #{userId}
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | First Name: #{firstName}
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Last Name: #{lastName}
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif') Source code: 
      a(href=sourceCodeLink) #{sourceCodeLink}
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Email: #{email}       
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Country: #{country} 
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | ChallengeName: #{challengeName} 
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Created Date: #{created_date} 
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif') GitHub Link: 
      a(href=githubLink) #{githubLink}
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Hours to complete: #{estimated_time} 
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Host Link: #{hostLink}