doctype html
head
div
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
    | Hi #{firstName},
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
    br(style='box-sizing:content-box')
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
    | Congrats on scoring 100% in Turing&apos;s basic #{language} programming test on #{date}
    font(color='#000000' style='box-sizing:content-box')
      | . We are now ready to connect you to American software companies for many kinds of remote software jobs including front-end, back-end, full stack, mobile and AI.
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
    font(color='#000000' style='box-sizing:content-box')
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
    font(color='#000000' style='box-sizing:content-box')
      b(style='box-sizing:content-box') Please fill out the questionaire below and we will be in contact shortly.
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
    font(face='aria=l, sans-serif' color='#000000' style='box-sizing:content-box')
      a(href=link target='_blank' style='box-sizing:content-box;text-decoration:none;background-image:linear-gradient(rgba(17,85,204,0.9) 0%,rgba(17,8=5,204,0.9) 100%);background-size:1px 1px;background-repeat:repeat-x;background-origin:initial;background-clip:initial;background-color:rgba(255,255,25=5,0)')
        | #{link}
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
    br(style='box-sizing:content-box')
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
    | Please let me know if you have any further questions.
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
    br(style='box-sizing:content-box')
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
    | Best,
  p(style='box-sizing:content-box;margin:0pt 0px;padding:0px;border:0px;font-family:Arial,sans-serif')
    | Glenn Vu - Technical Product Manager at Turing
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
    font(style='Arial') Turing.com
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
    font(style='Arial')
      br(style='box-sizing:content-box')
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
    font(style='arial, sans-serif' color='=#500050')
      br(style='box-sizing:content-box')
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
    font(style='arial, sans-serif' color='#500050')
      u(style='box-sizing:content-box') About Turing:
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Ar=ial,sans-serif')
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
  p(style='box-sizing:content-box;margin:0px;padding:0px;border:0px;font-family:Arial,sans-serif')
    font(style='arial, sans-serif' color='#500050')
      | Turing is based in Palo Alto, California, U.S.A. We connect exceptional software developers in other parts of the world to American companies that are hiring for remote software positions. Turing is backed by well known investors like Facebook&apos;s first CTO (Adam D&apos;Angelo), executives from Google, Facebook, Amazon, Twitter, Founders Fund (investors in Facebook, Tesla, Asana etc). Our rigorous vetting process tests three critical areas: technical skill, English skill, and fit for remote work. Turing is led by Stanford University alum and serial A.I. entrepreneurs
      a(href='http://s.bl-1.com/h/cqDl9ctK?url=https://www.linkedin.com/in/jonsid/' target='_blank' style='box-sizing:content-box;text-decoration:none;background-image:linear-gradient(rgba(17,85,204,0.9) 0%,rgba(17,85,204,0.9) 100%);background-size:1px 1px;background-repeat:repeat-x;background-origin:initial;background-clip:initial;background-color:rgba(2=55,255,255,0)') Jonathan Siddharth
      | and
      a(href='http://s.bl-1.com/h/cqDl9hHM?url=https://www.linkedin.com/in/vijay0/' target='_blank' style='box-sizing:content-box;text-decoration-line:none;background-image:linear-gradient(rgba(17,85,204,0.9) 0%,rgba(17,85,204,0.9) 100%);background-size:1px 1px;background-repeat:repeat-x;background-origin:initial;background-clip:initial;background-color:rgba(255,255,255,0)') Vijay Krishnan
      | , whose last A.I. company leveraged elite remote talent and had a successful acquisition. (
      a(href='http://s.bl-1.com/h/cqDl9nhP?url=https://techcrunch.com/2017/02/23/revcontent-acquires-rover/' target='_blank' style='box-sizing:content-box;text-decoration-line:none;background-image:linear-gradient(rgba(17,85,204,0.9) 0%,rgba(17,85,204,0.9) 100%);background-size:1px 1px;background-repeat:repeat-x;background-origin:initial;background-clip:initial;background-color:rgba(255,255,255,0)') Techcrunch story
      | ).
  div
    br
  div
    span(style='font-size:12.8px')
